@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap')
#sor p {
    background:rgb(13, 157, 214);
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}
#img {
    width: 200px;
    box-shadow: 3px 3px 7px  brown;
    margin: 10px;
}
#rend {
    width: 200px;
    box-shadow: 3px 3px 7px  brown;
    margin: 10px; 
    align-content: end;
}
#Infó {
    background: rgb(13, 157, 214);
    color: red;
    font-family: 'pacifico', cursive;
}
#Béka {
    background: rgb(13, 157, 214);
    color: red;
    font-family: 'pacifico', cursive;
}
.content {
    background: rgb(13, 157, 214);
    font-family: 'pacifico', cursive;
	font-size:24px;
	text-align: left;
	line-height: normal;
    font-weight: lighter;
    margin: 10px 10px 10px 10px;
    border: solid 1px  blue;
    padding: 10px 10px 10px 10px;
    max-width: 75%; 
}
.bold {
    font-weight: bold;
}
.img-div {
    background-color: deepskyblue;
}
#fej {
    background:rgb(13, 157, 214);
    color: red;
    font-family: 'pacifico', cursive;
}
#img-1 {
    position: relative;
    top: 10px;
    width: 200px;
    box-shadow: 3px 3px 7px  brown;
    margin: 10px;
}
#img-2 {
    width: 100px;
    box-shadow: 3px 3px 7px  brown;
    margin: 10px;
}